<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="mixturethemes">
	<meta name="keywords" content="">

	<title>单一的作品</title>

	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="57x57" href="images/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="images/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon-152x152.png">

	<!-- Required Css Files -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/responsive.css">
	
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<script src="js/modernizr.custom.js"></script>
	<script src="js/snap.svg-min.js"></script>
	
</head>

<body>

	<!-- Preloader Start -->
	<div class="preloader"><img src="images/body-preloader.gif" alt="" /></div>
	<!-- //Preloader End -->

	<div class="body-container">
		<!-- Header Start -->
		<header>
			<!-- Navbar Start -->
			<nav class="navbar navbar-custom">
				<div class="container">
					<div class="row">
						<!-- Logo -->
						<div class="col-xs-6">
							<div class="navbar-header">
								<a class="navbar-brand" href="index.html">
								<img src="images/logo.png" alt="" class="img-responsive" />
								</a>
							</div>
						</div>
						<!-- Menu -->
						<div class="col-xs-6">
							<div class="mainmenu">
								<button id="trigger-overlay"><i class="fa fa-bars fa-2x"></i> <span>列表</span></button>
							</div>
						</div>
					</div>
				</div>
			</nav>
			<!-- //Navbar End -->
		</header>
		<!-- //Header End -->
		
		<!-- Single Portfolio Section Start -->
		<section id="single-portfolio-section">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<!-- Portfolio Image -->
						<div class="single-img">
							<img src="images/works/single.jpg" alt="" class="img-responsive" />
						</div>
					</div>
					<div class="col-md-5">
						<!-- Portfolio Content -->
						<div class="single-port-content">
							<h2>单一的作品</h2>
							<hr />
							<p>来自荷兰阿姆斯特丹的 Pikaplant 团队相信种植是可以轻松的，设计了一款能自动浇水的 Pikaplant One 花架，实现室内垂直园艺。该系统能增加空气湿度，去除有害毒素，供给新鲜空气，让人更健康，更有活力。
                            </p>
							<ul class="content-list">
								<li><i class="fa fa-user"></i><a href="">荷兰团队</a></li>
								<li><i class="fa fa-calendar-o"></i><a href="">2017年2月7日 </a></li>
								<li><i class="fa fa-comments"></i><a href="">4 评论</a></li>
								<li class="tag-list">标签 : <span><a href="#">文件夹</a> / </span><span>创意<a href="#"></a> / </span><span><a href="#">图片</a></span></li>
							</ul>
							<!-- Preview Link -->
							<a href="#" class="btn-link">
								<i class="fa fa-link"></i>实时预览
							</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<!-- Single Portfolio Description -->
						<div class="single-port-description">
							<p><span class="dropcap">创意USB时钟风扇 吹吹风还能显示时间</span>狂玩游戏的时候，是否忘了时间？下面来看看这款USB创意时钟风扇就给喜欢玩游戏的同学们带来了福音，将其插入电脑USB接口，风扇转动带来凉风                                                     的同时，还可显示LED时钟界面，让你清楚的了解当下时间。
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<!-- More Projects Link -->
						<div class="more-projects-link">
							<a href="grid-portfolio.html" class="btn-projects">
								<i class="fa fa-list"></i> 争取更多的项目
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- //Single Portfolio Section End -->
		
		<!-- Footer Section Start -->
		<footer id="footer">
			<div class="container">
				<div class="row">
					<!-- Footer Content Start -->
					<div class="footer_content">
						<!-- Copyright Content -->
						<div class="col-md-5 col-sm-12">
							<div class="copyright">
								<p> Copyright 荷兰豆创意网 2013-2016 京ICP备15032470号.  <a href="#" class="author"></a></p>
							</div>
						</div>
						<!-- Footer Logo -->
						<div class="col-md-2 col-sm-12">
							<div class="footer-logo">
								<a href="index.html"><img src="images/footer-logo.png" alt="" /></a>
							</div>
						</div>
						<!-- Social Links -->
						<div class="col-md-5 col-sm-12">
							<div class="footer_social">
								<ul>
									<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#" class="skype"><i class="fa fa-skype"></i></a></li>
									<li><a href="#" class="dribbble"><i class="fa fa-dribbble"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- //Footer Content End -->
				</div>
			</div>
		</footer>
		<!-- //Footer Section End -->
		
	</div>
	
	<!-- FullScreen Menu Content Start -->
	<div class="overlay overlay-genie" data-steps="m 701.56545,809.01175 35.16718,0 0,19.68384 -35.16718,0 z;m 698.9986,728.03569 41.23353,0 -3.41953,77.8735 -34.98557,0 z;m 687.08153,513.78234 53.1506,0 C 738.0505,683.9161 737.86917,503.34193 737.27015,806 l -35.90067,0 c -7.82727,-276.34892 -2.06916,-72.79261 -14.28795,-292.21766 z;m 403.87105,257.94772 566.31246,2.93091 C 923.38284,513.78233 738.73561,372.23931 737.27015,806 l -35.90067,0 C 701.32034,404.49318 455.17312,480.07689 403.87105,257.94772 z;M 51.871052,165.94772 1362.1835,168.87863 C 1171.3828,653.78233 738.73561,372.23931 737.27015,806 l -35.90067,0 C 701.32034,404.49318 31.173122,513.78234 51.871052,165.94772 z;m 52,26 1364,4 c -12.8007,666.9037 -273.2644,483.78234 -322.7299,776 l -633.90062,0 C 359.32034,432.49318 -6.6979288,733.83462 52,26 z;m 0,0 1439.999975,0 0,805.99999 -1439.999975,0 z">
		<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1440 806" preserveAspectRatio="none">
			<path class="overlay-path" d="m 701.56545,809.01175 35.16718,0 0,19.68384 -35.16718,0 z"/>
		</svg>
		<button type="button" class="overlay-close">结束</button>
		<nav>
			<ul>
				<li><a href="index.html">首页</a></li>
				<li><a href="about.html">关于我们</a></li>
				<li class="drop"><a href="#" class="active">产品</a>
					<ul class="dropdown">
						<li class="nomartop"><a href="masonry-portfolio.html">砌体的风格</a></li>
						<li><a href="grid-portfolio.html">网格布局</a></li>
					</ul>
				</li>
				<li><a href="blog.html">博客</a></li>
				<li><a href="contact.html">联系方式</a></li>
			</ul>
		</nav>
	</div>
	<!-- //FullScreen Menu Content End -->
	
	<!-- Required Javascript Files -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/classie.js"></script>
	<script src="js/main.js"></script>
	
</body>
</html>